<!-- <div class="tab-pane fade" id="departamentos">
    <h3 class="text-start">Departamentos</h3>
   -->
    <!-- Formulario para crear/actualizar departamentos -->
 <!--    <form (ngSubmit)="onSubmitDepartamento()">
      <div class="mb-3">
        <label for="codigo_departamento" class="form-label">Código Departamento</label>
        <input type="number" class="form-control" [(ngModel)]="departamento.codigo_departamento" name="codigo_departamento" required>
      </div>
      <div class="mb-3">
        <label for="nombre_departamento" class="form-label">Nombre Departamento</label>
        <input type="text" class="form-control" [(ngModel)]="departamento.nombre_departamento" name="nombre_departamento" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form> -->
  
    <!-- Tabla de departamentos -->
   <!--  <table class="table table-bordered mt-3">
      <thead class="table-dark">
        <tr>
          <th>Código Departamento</th>
          <th>Nombre Departamento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departamento of departamentos">
          <td>{{ departamento.codigo_departamento }}</td>
          <td>{{ departamento.nombre_departamento }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editarDepartamento(departamento)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminarDepartamento(departamento.codigo_departamento)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   -->