<!-- <div class="tab-pane fade show active" id="empleados">
    <h3 class="text-start">Empleados</h3>
   -->
    <!-- Formulario para crear/actualizar empleados -->
   <!--  <form (ngSubmit)="onSubmitEmpleado()">
      <div class="mb-3">
        <label for="codigo" class="form-label">Código Empleado</label>
        <input type="number" class="form-control" [(ngModel)]="empleado.codigo" name="codigo" required>
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="empleado.nombre" name="nombre" required>
      </div>
      <div class="mb-3">
        <label for="apellido1" class="form-label">Primer Apellido</label>
        <input type="text" class="form-control" [(ngModel)]="empleado.apellido1" name="apellido1" required>
      </div>
      <div class="mb-3">
        <label for="apellido2" class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" [(ngModel)]="empleado.apellido2" name="apellido2">
      </div>
      <div class="mb-3">
        <label for="codigo_departamento" class="form-label">Código Departamento</label>
        <input type="number" class="form-control" [(ngModel)]="empleado.codigo_departamento" name="codigo_departamento" required>
      </div>
      <div class="mb-3">
        <label for="nombre_departamento" class="form-label">Nombre Departamento</label>
        <input type="text" class="form-control" [(ngModel)]="empleado.nombre_departamento" name="nombre_departamento" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form> -->
  
    <!-- Tabla de empleados -->
   <!--  <table class="table table-bordered mt-3">
      <thead class="table-dark">
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Código Departamento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td>{{ empleado.codigo }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido1 }}</td>
          <td>{{ empleado.apellido2 }}</td>
          <td>{{ empleado.codigo_departamento }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editarEmpleado(empleado)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminarEmpleado(empleado.codigo)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   -->